{:paths ["src"]
 :deps {
        org.clojure/clojure {:mvn/version "1.10.1"}
        io.pedestal/pedestal.service {:mvn/version "0.5.8"}
        io.pedestal/pedestal.jetty {:mvn/version "0.5.8"}
        fundingcircle/jackdaw {:mvn/version "0.7.6"}
        metosin/jsonista {:mvn/version "0.3.1"}
        com.datomic/datomic-pro {:mvn/version "1.0.6242"}}
 :mvn/repos {"confluent" {:url "http://packages.confluent.io/maven/"}
             "my.datomic.com" {:url "https://my.datomic.com/repo"}}}
